doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title jQuery Basics
		link(rel='stylesheet', href='/css/app.css')
	body
		h1 One
		h2 Two
		h3 Three
		p P-Tag

		input#tb1(type='text')

		button#bttn1 Click ME 1
		button#bttn2 Click ME 2
		button#bttn3 Click ME 3
		button#bttn4 Click ME 4
		button#bttn5 Click ME 5
		button#bttn6 Click ME 6
		button#bttn7 Click ME 7

		script(src='/js/vendor/jquery-2.1.0.js')
		script(src='/js/source/main.js')
